version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: performance-sut-db
    environment:
      POSTGRES_DB: sut_db
      POSTGRES_USER: sut_user
      POSTGRES_PASSWORD: sut_password
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U sut_user" ]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "6"

  app:
    build: .
    container_name: performance-backend
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/sut_db
      SPRING_DATASOURCE_USERNAME: sut_user
      SPRING_DATASOURCE_PASSWORD: sut_password
    depends_on:
      db:
        condition: service_healthy
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 15s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "6"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      app:
        condition: service_healthy
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "6"

volumes:
  postgres_data:
